In [1]:
import pandas as pd

In [26]:
import glob

files = glob.glob("/Users/kaanhamilton/JupyterProjects/truthchance/NewsScraping/data/guardian_articles/opinion" + '/**/*.json', recursive=True)

In [27]:
import json

In [28]:
article_metadata = []
for file in files:
    f = open(file)
    data = json.load(f)
    article_metadata.append([data["date"],data["headline"],data["author"],file])

In [29]:
df = pd.DataFrame(article_metadata,columns=["date","author","headline","path"])

In [32]:
df.groupby("headline").count().sort_values("date")

                    date  author  path
headline
AL Kennedy             1       1     1
John Daley             1       1     1
John Domokos           1       1     1
John Falzon            1       1     1
John Ganz              1       1     1
...                  ...     ...   ...
Polly Toynbee         70      70    70
Observer editorial    71      71    71
Zoe Williams          73      73    73
Arwa Mahdawi         113     113   113
Editorial            455     455   455

[1251 rows x 3 columns]